//<BUTTONS>=================================================================================================
.btn {
  height: 56px;

  background: #ffbf00;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  font-family: $poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #332200;
  padding: 16px 32px;
  transition: all 0.5s ease 0s;

  &:hover {
    background: #d1a00b;
  }
}
//</BUTTONS>================================================================================================

//<INPUT>===================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  width: 100%;
  display: block;
  padding: 12px 12px;
  height: 48px;

  background: #f7f7f7;
  border: 1px solid #ededed;
  border-radius: 5px;

  font-family: $roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #717171;

  &.focus {
  }

  &.err {
    border-left: 2px solid red;
  }
}
textarea.input {
  resize: vertical;
  height: 160px;
  padding: 12px 12px;
}
//</INPUT>==================================================================================================
