.header {
  background-color: #000000;
  @media (max-width: 1200px) {
    padding: 0 10px;
  }

  &__container {
    max-width: 1160px;
    margin: 0 auto;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    @media (max-width: $md3) {
      padding: 20px 0;
    }
  }

  &__logo {
    z-index: 15;
    opacity: 0;
    transform: translate(0, 120%);
    transition: all 1.2s ease 0s;
    &._active {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.header-menu-list {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  @media (max-width: 550px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: -10% 0 0 0;
    li {
      padding: 0 0 20px 0;
    }
  }
  @media (max-height: $md4) {
    margin: 0;
  }

  &__link {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -2.5px;
      background: #fff;
    }
    @media (max-width: 550px) {
      font-size: 28px;
    }
    display: flex;
    opacity: 0;
    transform: translate(0, 120%);
    transition: all 1.2s ease 0s;
    &._active {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &__link-anime {
    &::after {
      transform: scale(0, 1);
      transition: transform 0.4s ease 0s;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

.header-menu {
  width: 316px;
  align-self: center;
  @media (max-width: 550px) {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #000;
    transition: all 0.5s ease 0s;
    z-index: 10;
    &.active {
      left: 0;
    }
  }

  &__icon {
    @media (max-width: 550px) {
      display: block;
      position: absolute;
      top: 28.5px;
      right: 10px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 20;
      span {
        transition: all 0.3s ease 0s;
        top: 8px;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        &:first-child {
          top: 0px;
        }
        &:last-child {
          top: auto;
          bottom: 0px;
        }
      }
      &.active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: 8px;
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: 8px;
          }
        }
      }
      opacity: 0;
      transform: translate(0, 120%);
      transition: all 1.2s ease 0s;
      &._active {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}

@media (max-width: $md3) {
  body.lock {
    overflow: hidden;
  }
}
